@CHARSET "ISO-8859-1";
.lista-horizontal{
	list-style-type: none;
	display: inline;
}

.icone-horizontal{
	display: inline-block;
}
.novo-documento16{
	background-image: url('new_icon16.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 16px;
	width: 16px;
}
.novo-documento32{
	background-image: url('new_icon32.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 32px;
	width: 32px;
}
.novo-documento48{
	background-image: url('new_icon32.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 48px;
	width: 48px;
}
.edit-documento16{
	background-image: url('edit_icon16.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 16px;
	width: 16px;
}
.edit-documento32{
	background-image: url('edit_icon32.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 32px;
	width: 32px;
}
.edit-documento48{
	background-image: url('edit_icon48.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 48px;
	width: 48px;
}
.del-documento16{
	background-image: url('del_icon16.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 16px;
	width: 16px;
}
.del-documento32{
	background-image: url('del_icon32.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 32px;
	width: 32px;
}
.del-documento48{
	background-image: url('del_icon48.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 48px;
	width: 48px;
}
.abrir-documento16{
	background-image: url('open_icon16.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 16px;
	width: 16px;
}
.abrir-documento32{
	background-image: url('open_icon32.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 32px;
	width: 32px;
}
.abrir-documento48{
	background-image: url('open_icon48.png');
	background-repeat:no-repeat;
	border: 0px;
	margin: 1px;
	height: 48px;
	width: 48px;
}
