<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property> -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/hbtest1</property>
    <property name="hibernate.c3p0.max_size">15</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.c3p0.acquire_increment">3</property>
    <property name="hibernate.transaction.auto_close_session">false</property>
    <property name="hibernate.connection.pool_size">5</property>
    <property name="hibernate.connection.release_mode">after_statement</property>
    
    <property name="hibernate.current_session_context_class">thread</property>
    
    <property name="hibernate.cache.use_query_cache">false</property>
    <property name="hibernate.cache.use_minimal_puts">false</property>
    <property name="hibernate.cache.use_structured_entries">false</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Campo.hbm.xml"/>
    <mapping resource="Versao.hbm.xml"/>
    <mapping resource="Tabela.hbm.xml"/>
    <mapping resource="Concessionaria.hbm.xml"/>
    <mapping resource="ServidorBD.xml"/>
    <mapping resource="ConfiguracaoImagem.hbm.xml"/>
    <mapping resource="TipoPista.hbm.xml"/>
    <mapping resource="TipoTransacao.hbm.xml"/>
    <mapping resource="Praca.hbm.xml"/>
    <mapping resource="Pista.hbm.xml"/>
    <mapping resource="Categoria.hbm.xml"/>
    <mapping resource="MeioPagamento.hbm.xml"/>
    <mapping resource="ConfigContato.hbm.xml"/>
    <mapping resource="ConfigEquipamento.hbm.xml"/>
    <mapping resource="ConfiguracaoPraca.hbm.xml"/>
    <mapping resource="AntenaPista.hbm.xml"/>
    <mapping resource="Arrecadacao.hbm.xml"/>
    <mapping resource="Malote.hbm.xml"/>
    <mapping resource="Insert.hbm.xml"/>
    <mapping resource="Funcionalidade.hbm.xml"/>
    <mapping resource="Relatorio.hbm.xml"/>
    <mapping resource="RelatorioConcessionaria.hbm.xml"/>
    <mapping resource="FuncionalidadeConcessionaria.hbm.xml"/>
    <mapping resource="PapelFuncionalidade.hbm.xml"/>
    <mapping resource="FuncionalidadeAcesso.hbm.xml"/>
    <mapping resource="PracaMeioPagamento.hbm.xml"/>
    <mapping resource="ConfigAcesso.hbm.xml"/>
    <mapping resource="Localizacao.hbm.xml"/>
    <mapping resource="MotivoFechamentoPista.hbm.xml"/>
    <mapping resource="Sentido.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
